# Logs
logs

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Typescript v1 declaration files
typings/

# dotenv environment variables file
.env
*.env

# WebStorm configurations
.idea

# Ignore the etc folders created by
etc/

# Do not add dist to git
dist

# ignore the config assets as its generated runtime and thus should notbe included in git
src/config/assets.js

# Ignore sass cache
.sass-cache

src/libs/ckeditor5/build

.DS_Store

userNotes
tmp
newDist.zip
